In [1]:
100+200

300

In [2]:
print('hello, world')

hello, world

In [3]:
print('The quick brown fox',' jumps over',' the lazy dog')

The quick brown fox  jumps over  the lazy dog

In [4]:
name=input()

你好

In [5]:
name

'你好'

In [6]:
name=input()
print('hello',name)

wo
hello wo

In [7]:
name=input('Enter...')
print('hello',name)

Enter...
hello

In [8]:
print(r'//t//t//')

//t//t//

In [9]:
print('''line1
line2
line3''')

line1
line2
line3

In [10]:
True

True

In [11]:
3>2

True

In [12]:
a='abc'
b=a
a='xyz'
print(b)

abc

In [13]:
9/3

3.0

In [14]:
10//3

3

In [15]:
10/4

2.5

In [16]:
10//4

2

In [17]:
print('你好')

你好

In [18]:
ord('A')

65

In [19]:
ord('夫')

22827

In [20]:
chr(66)

'B'

In [21]:
chr(25991)

'文'

In [22]:
'\u4e2d\u6587'

'中文'

In [23]:
'ABC'.encode('ascii')

b'ABC'

In [24]:
'中文'.encode('utf-8')

b'\xe4\xb8\xad\xe6\x96\x87'

In [25]:
b'ABC'.decode('ascii')

'ABC'

In [26]:
b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8')

'中文'

In [27]:
len('abc')

3

In [28]:
'Hello, %s' % 'world'

'Hello, world'

In [29]:
'Hi, %s, your have $%d.' % ('Michael',1000000)

'Hi, Michael, your have $1000000.'

In [30]:
'Age: %s. Gender: %s' % (25,True)

'Age: 25. Gender: True'

In [31]:
'growth rate: %d %%' % 7

'growth rate: 7 %'

In [32]:
'Hello, {0}, 成绩提升了 {1:.1f}%'.format('小明', 17.125)

'Hello, 小明, 成绩提升了 17.1%'

In [33]:
classmates=['Michael','Bob','Tracy']

In [34]:
classmates

['Michael', 'Bob', 'Tracy']

In [35]:
len(classmates)

3

In [36]:
classmates[0]

'Michael'

In [37]:
classmates[-1]

'Tracy'

In [38]:
classmates.append('Adam')

In [39]:
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [40]:
classmates.pop()

'Adam'

In [41]:
classmates

['Michael', 'Bob', 'Tracy']

In [42]:
classmates.pop(0)

'Michael'

In [43]:
classmates

['Bob', 'Tracy']

In [44]:
classmates

['Bob', 'Tracy']

In [45]:
classmates

['Bob', 'Tracy']

In [46]:
classmates[1]='Sarah'

In [47]:
classmates

['Bob', 'Sarah']

In [48]:
L=['Apple',123,True]

In [49]:
 L = ['Apple', 123, True]

In [50]:
s=['python','java',['asp','php'],'scheme']

In [51]:
len(s)

4

In [52]:
s[2][1]

'php'

In [53]:
classmates=('Michael','Bob','Tracy')

In [54]:
classmates

('Michael', 'Bob', 'Tracy')

In [55]:
t=(1,2)

In [56]:
t

(1, 2)

In [57]:
t=(1)

In [58]:
t

1

In [59]:
t=(2)
t

2

In [60]:
t=(1,)

In [61]:
t

(1,)

In [62]:
t=('a','b',['A','B'])

In [63]:
t

('a', 'b', ['A', 'B'])

In [64]:
t[2][0]='X'

In [65]:
t

('a', 'b', ['X', 'B'])

In [66]:
age=20
if age>=18:
    print('your age is',age)
    print('adult')

your age is 20
adult

In [67]:
age=3
if age>=18:
    print('your age is',age)
    print('adult')
else:
    print('your age is',age)
    print('teenage')

your age is 3
teenage

In [68]:
s=input('birth: ')
birth=int(s)
if birth<2000:
    print('before 00')
else:
    print('after 00')

birth: 2001
after 00

In [71]:
names=['Michael','Bob','Tracy']

In [72]:
for name in names:
    print(name)

Michael
Bob
Tracy

In [73]:
sum=0
for x in [1,2,3,4,5,6,7,8,9,10]:
    sum=sum+x
print(sum)

55

In [74]:
list(range(5))

[0, 1, 2, 3, 4]

In [75]:
sum=0
for x in range(101):
    sum=sum+x
print(sum)

5050

In [77]:
sum=0
n=99
while n>0:
    sum=sum+n
    n=n-2
print(sum)

2500

In [81]:
L=['Bart','Lisa','Adam']
for name in L:
    print('Hello,',name)

Hello, Bart
Hello, Lisa
Hello, Adam

In [2]:
a={'Mike':99,'Bob':98,'Tracy':66}

In [3]:
print(a)

{'Mike': 99, 'Bob': 98, 'Tracy': 66}

In [5]:
a['Mike']

99

In [6]:
a=set([1,2,3,3])

In [7]:
a

{1, 2, 3}

In [8]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [9]:
abs(100)

100

In [10]:
max(1,2,66,3)

66

In [11]:
min(1,4,2)

1

In [12]:
int('123')

123

In [13]:
float('123')

123.0

In [14]:
str(123)

'123'

In [15]:
bool(0)

False

In [17]:
bool('12')

True

In [18]:
bool('')

False

In [2]:
def my_abs(x):
    if not isinstance(x,(int,float)):
        raise TypeError('bad operand type')
    if(x>=0):
        return x
    else:
        return -x

In [3]:
my_abs(-10)

10

In [4]:
my_abs('a')

TypeError: bad operand type

In [5]:
import math

In [6]:
def move(x,y,step,angle=0):
    nx=x+step*math.cos(angle)
    ny=y-step*math.sin(angle)
    return nx,ny

In [7]:
x,y=move(100,100,60,math.pi/6)

In [8]:
print(x,y)

151.96152422706632 70.0

In [9]:
r=move(100,100,60,math.pi/6)

In [10]:
print(r)

(151.96152422706632, 70.0)

In [15]:
def qua(a,b,c):
    x1=(-b+math.sqrt(b*b-4*a*c))/(2*a)
    x2=(-b-math.sqrt(b*b-4*a*c))/(2*a)
    return x1,x2

In [16]:
qua(2,3,1)

(-0.5, -1.0)

In [17]:
qua(1,3,-4)

(1.0, -4.0)

In [18]:
def power(x,n=2):
    s=1
    while n>0:
        n=n-1
        s=s*x
    return s

In [19]:
power(5)

25

In [20]:
power(5,3)

125

In [1]:
def enroll(name,gender):
    print('name',name)
    print('gender',gender)

In [2]:
enroll('Sarah','F')

name Sarah
gender F

In [3]:
def add_end(L=[]):
    L.append('END')
    return L

In [4]:
add_end([1,2,3])

[1, 2, 3, 'END']

In [5]:
def add_end(L=None):
    if L is None:
        L=[]
    L.append('END')
    return L

In [6]:
add_end()

['END']

In [7]:
add_end()

['END']

In [1]:
def calc(*num):
    sum=0
    for n  in num:
        sum=sum+n*n
    return sum

In [2]:
calc(1,2,3)

14

In [9]:
def product(x,y=1,*args):
    sum = x * y;
    for i in args:
        sum = sum * i
    return sum

In [10]:
print('product(5) =', product(5))
print('product(5, 6) =', product(5, 6))
print('product(5, 6, 7) =', product(5, 6, 7))
print('product(5, 6, 7, 9) =', product(5, 6, 7, 9))
if product(5) != 5:
    print('测试失败!')
elif product(5, 6) != 30:
    print('测试失败!')
elif product(5, 6, 7) != 210:
    print('测试失败!')
elif product(5, 6, 7, 9) != 1890:
    print('测试失败!')
else:
    try:
        product()
        print('测试失败!')
    except TypeError:
        print('测试成功!')

product(5) = 5
product(5, 6) = 30
product(5, 6, 7) = 210
product(5, 6, 7, 9) = 1890
测试成功!

In [1]:
L=[]
n=1
while n<=99:
    L.append(n)
    n=n+2

In [2]:
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [3]:
def trim(s):
    if s[:1]!=' ' and  s[-1:]!=' ':
        return s
    elif s[:1]==' ':
        return trim(s[1:])
    else:
        return trim(s[:-1])

In [4]:
if trim('hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello') != 'hello':
    print('测试失败!')
elif trim('  hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello  world  ') != 'hello  world':
    print('测试失败!')
elif trim('') != '':
    print('测试失败!')
elif trim('    ') != '':
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

In [5]:
from collections import Iterable

In [6]:
isinstance('abc',Iterable)

True

In [7]:
isinstance(123,Iterable)

False

In [17]:
def findMinAndMax(L):
    if L==[]:
        return (None,None)
    else:
    
        a=L[0]
        c=L[0]
        for b in L:
            if b<a:
                a=b
        for b in L:
            if b>c:
                c=b
        return a,c

In [18]:
findMinAndMax([5,3,4,6,3])

(3, 6)

In [19]:
if findMinAndMax([]) != (None, None):
    print('测试失败!')
elif findMinAndMax([7]) != (7, 7):
    print('测试失败!')
elif findMinAndMax([7, 1]) != (1, 7):
    print('测试失败!')
elif findMinAndMax([7, 1, 3, 9, 5]) != (1, 9):
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
[x*x for x in range(1,11) if x % 2==0]

[4, 16, 36, 64, 100]

In [4]:
[m+n for m in 'ABC' for n in 'XYZ']

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [5]:
import os

In [6]:
[ d for d in os.listdir('.')]

['.ipynb_checkpoints', 'review.ipynb']

In [8]:
d={'x':'A','y':'B','z':'C'}
[k+'='+v for k,v in d.items()]

['x=A', 'y=B', 'z=C']

In [9]:
L=['Hello','world','ibm','apple']

In [10]:
[s.lower() for s in L]

['hello', 'world', 'ibm', 'apple']

In [15]:
L1 = ['Hello', 'World', 18, 'Apple', None]
L2=[s.lower() for s in L1 if isinstance(s,str)==True]g=
print(L2)

['hello', 'world', 'apple']

In [16]:
g=(x*x for x in range(10))

In [17]:
g

In [21]:
next(g)

9

In [22]:
g=(x * x for x in range(10))
for n in g:
    print(n)

0
1
4
9
16
25
36
49
64
81

In [24]:
def fib(max):
    n,a,b=0,0,1
    while n<max:
        print(b)
        a,b=b,a+b
        n=n+1
    return 'done'

In [25]:
fib(6)

1
1
2
3
5
8

'done'

In [1]:
def fib(max):
    n,a,b=0,0,1
    while n<max:
        yield b
        a,b=b,a+b
        n=n+1
    return 'done'

In [2]:
fib(5)

In [3]:
print(fib(5))

<generator object fib at 0x1038121a8>

In [4]:
for n in fib(6):
    print(n)

1
1
2
3
5
8

In [5]:
g=fib(6)

In [6]:
g

In [7]:
def triangles():  
    N=[1]  
    while True:  
        yield N        #generator函数与普通函数的差别：在执行过程中，遇到yield就中断，下次又继续执行  
        N.append(0)  
        N=[N[i-1] + N[i] for i in range(len(N))]  #写法

In [8]:
n = 0
results = []
for t in triangles():
    print(t)
    results.append(t)
    n = n + 1
    if n == 10:
        break
if results == [
    [1],
    [1, 1],
    [1, 2, 1],
    [1, 3, 3, 1],
    [1, 4, 6, 4, 1],
    [1, 5, 10, 10, 5, 1],
    [1, 6, 15, 20, 15, 6, 1],
    [1, 7, 21, 35, 35, 21, 7, 1],
    [1, 8, 28, 56, 70, 56, 28, 8, 1],
    [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
]:
    print('测试通过!')
else:
    print('测试失败!')

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
测试失败!

In [9]:
from collections import Iterable

In [10]:
isinstance([],Iterable)

True

In [17]:
def add(x,y,f):
    return f(x)+f(y)

In [18]:
print(add(-5,6,abs))

11

In [19]:
def f(x):
    return x*x

In [20]:
r=map(f,[1,2,3,4,5,6,7,8,9])

In [21]:
print(r)

<map object at 0x103835b70>

In [22]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
list(map(str,[1,2,3,4,5]))

['1', '2', '3', '4', '5']

In [38]:
from functools import reduce

In [26]:
def add(x,y):
    return x+y

In [27]:
reduce(add,[1,3,5,7,8])

24

In [36]:
def normalize(name):
    a=name.lower()     # 把第一个字母转化为大写字母，其余小写
    b=a.capitalize()
    return b

In [37]:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [40]:
def chengji(x,y):
    return x*y

def prod(num):
    return reduce(chegji,num)

In [41]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

NameError: name 'chegji' is not defined

In [42]:
def prod(L):
    return reduce(lambda x,y:x*y,L)

In [43]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

In [46]:
from functools import reduce  
  
def str2float(s):  
    def str2num(s):  
        return {'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}[s]  
    def fnMuti(x,y):  
        return x*10 + y  
    def fnDivid(x,y):  
        return x/10 + y  
    dotIndex = s.index('.')  
    return reduce(fnMuti,map(str2num,s[:dotIndex])) + reduce(fnDivid,list(map(str2num,s[dotIndex+1:]))[::-1])/10

In [47]:
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

In [3]:
def is_odd(n):
    return n%2==1
list(filter(is_odd,[1,2,4,5,6,9,10,15]))

[1, 5, 9, 15]

In [4]:
def not_empty(s):
    return s and s.strip()

In [5]:
list(filter(not_empty,['A','','B',None,'C',' ']))

['A', 'B', 'C']

In [6]:
def is_palindrome(n):
    return str(n)==str(n)[::-1]
output=filter(is_palindrome,range(1,1000))  
print(list(output))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [7]:
sorted([36,5,-12,9,-21])

[-21, -12, 5, 9, 36]

In [9]:
sorted([36,5,-12,9,-21],key=abs)

[5, 9, -12, -21, 36]

In [1]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]

In [5]:
def by_name(t):
    return t[0].lower()
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]
L2 = sorted(L, key=by_name)
print(L2)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

In [4]:
def by_name(t):
    return t[0].lower()
L=[('Dob',75),('Adam',92),('Bart',66),('Cisa',88)]  
L1=sorted(L,key=by_name)
print(L1)

[('Adam', 92), ('Bart', 66), ('Cisa', 88), ('Dob', 75)]

In [6]:
def lazy_sum(*args):
    def sum():
        ax = 0
        for n in args:
            ax = ax + n
        return ax
    return sum

In [7]:
f1 = lazy_sum(1, 3, 5, 7, 9)
f2 = lazy_sum(1, 3, 5, 7, 9)

In [8]:
f1==f2

False

In [9]:
f1()==f2()

True

In [2]:
def is_odd(n):
    return n % 2 == 1

L = list(filter(is_odd, range(1, 20)))

In [3]:
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
L = list(filter(is_odd, range(1, 20)))

In [5]:
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
def createCounter():
    n = 0
    def counter():
        nonlocal n
        n += 1
        return n
    return counter

In [11]:
counterA = createCounter()
print(counterA(), counterA(), counterA(), counterA(), counterA()) # 1 2 3 4 5
counterB = createCounter()
if [counterB(), counterB(), counterB(), counterB()] == [1, 2, 3, 4]:
    print('测试通过!')
else:
    print('测试失败!')

1 2 3 4 5
测试通过!

In [13]:
list(map(lambda x:x*x,[1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
f=lambda x:x*x

In [15]:
f

In [16]:
def is_odd(n):
    return n % 2 == 1

L = list(filter(is_odd, range(1, 20)))

In [17]:
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
L=list(filter(lambda x:x%2==1,range(1,20)))

In [20]:
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
def now():
    print('2015-3-25')

In [22]:
f=now

In [23]:
f

In [24]:
f()

2015-3-25

In [25]:
now.__name__

'now'

In [26]:
f.__name__

'now'

In [38]:
import functools
def log(func):
    @functools.wraps(func)
    def wrapper(*args,**kw):
        print('call %s():' % func.__name__)
        return func(*args,**kw)
    return wrapper

In [39]:
@log

def now():
    print('2015-3-25')

In [40]:
now()

call now():
2015-3-25

In [41]:
now.__name__

'now'

In [42]:
int('12345')

12345

In [46]:
int('12345',8)

5349

In [47]:
def int2(x,base=2):
    return int(x,base)

In [48]:
int2('1000000')

64

In [49]:
int2=functools.partial(int,base=2)

In [50]:
int2('100000')

32

In [52]:
int2('1000000',base=10)

1000000

In [1]:
def now():
    print('2015-3-25')

In [2]:
f= now

In [3]:
f()

2015-3-25

In [4]:
now.__name__

'now'

In [5]:
f.__name__

'now'

In [6]:
def log(func):
    def wrapper(*args,**kw):
        print('call %s():' % func.__name__)
        return func(*args,**kw)
    return wrapper

In [8]:
@log
def now():
    print('20145454')

In [9]:
now()

call now():
20145454

In [11]:
'a test module'
__author__='Tiger'
import sys

def test():
    args=sys.argv
    if len(args)==1:
        print('Hello, world!')
    elif len(args)==2:
        print('Hello, %s' % args[1])
    else:
        print('Too many arguments!')

if __name__=='__main__':
    test()

Too many arguments!

In [12]:
print(test.__doc__)

None

In [62]:
class Student:
    
    def __init__(self, name, score):
        self.__name=name
        self.__score=score
    def print_score(self):
        print('%s : %s' % (self.__name, self.__score))
    def get_name(self):
        return self.__name

In [63]:
bart=Student('Bart',59)
lisa=Student('Lisa',99)

In [64]:
lisa.print_score()

Lisa : 99

In [65]:
bart.print_score()

Bart : 59

In [66]:
print(bart.get_name())

Bart

In [67]:
bart._Student__name

'Bart'

In [60]:
class Student(object):
    def __init__(self, name, gender):
        self.name = name
        self.__gender = gender
    def get_gender(self):
        return self.__gender
    
    def set_gender(self,gender):
        self.__gender=gender

In [61]:
bart = Student('Bart', 'male')
if bart.get_gender() != 'male':
    print('测试失败!')
else:
    bart.set_gender('female')
    if bart.get_gender() != 'female':
        print('测试失败!')
    else:
        print('测试成功!')

测试成功!

In [68]:
bart.__name='lll'

In [69]:
bart.get_name()

'Bart'

In [82]:
class Animal(object):
    def __len__(self):
        return 1234
    def run(self):
        print('Animal is running...')

In [85]:
class Dog(Animal):
    def __len__(self):
        return 8888
class Cat(Animal):
    pass

In [86]:
dog=Dog()

In [87]:
dog.run()

Animal is running...

In [74]:
def pppp(Animal):
    Animal.run()

In [76]:
pppp(dog)

Animal is running...

In [77]:
class ttt(object):
    def run(self):
        print('lllllll')

In [78]:
t=ttt()

In [79]:
pppp(t)

lllllll

In [80]:
len('555')

3

In [88]:
len(dog)

8888

In [93]:
class Student(object):
    count = 0

    def __init__(self, name):
        self.name = name
        Student.count = Student.count + 1

In [94]:
if Student.count != 0:
    print('测试失败!')
else:
    bart = Student('Bart')
    if Student.count != 1:
        print('测试失败!')
    else:
        lisa = Student('Bart')
        if Student.count != 2:
            print('测试失败!')
        else:
            print('Students:', Student.count)
            print('测试通过!')

Students: 2
测试通过!